<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZGuideTV.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
          <!--<add name="EventLog"/> -->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à inscrire dans le journal des événements de l'application -->
      <!-- <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="ZGuideTV.NET"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <ZGuideTV.My.MySettings>
      <setting name="Proxy" serializeAs="String">
        <value/>
      </setting>
      <setting name="loginproxy" serializeAs="String">
        <value/>
      </setting>
      <setting name="passproxy" serializeAs="String">
        <value/>
      </setting>
      <setting name="Purgefichiers" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="intervalmiseajour" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="datemajmiseajour" serializeAs="String">
        <value/>
      </setting>
      <setting name="FadeOut" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value/>
      </setting>
      <setting name="WindowSizeMain" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowLocationMain" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Slide" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Lienmiseajour" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastChanged" serializeAs="String">
        <value/>
      </setting>
      <setting name="bIntegrPerim" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tracelog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MMTVSource" serializeAs="String">
        <value/>
      </setting>
      <setting name="dureecesoir" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="firststart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Autoverif" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="datemajverif" serializeAs="String">
        <value/>
      </setting>
      <setting name="intervalverif" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="dureemaintenant" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="Cacher_Filtre" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="buttonsstate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="buttonssave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value/>
      </setting>
      <setting name="Cheminmiseajour" serializeAs="String">
        <value/>
      </setting>
      <setting name="URLChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DIRChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="noupdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dualmonitor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ConfHardware" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="boutonbas1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="nbchainesdiff" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="scrollhorizontal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="accordscrollhorizontal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="oldUI" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FichierCorrompu" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserRestart" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BddExists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UrlUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManualFeedBack" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="memortbheight" serializeAs="String">
        <value>117</value>
      </setting>
      <setting name="decalage_horaire" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EngineSelection" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EngineShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RssFeed" serializeAs="String">
        <value/>
      </setting>
      <setting name="RssFeedMinute" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RssFeedLanguage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DataBaseExpired" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PluginBoot" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolTipsBallon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotifyIconShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ModifPrefRestart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GestionSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ResumeChecked" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ResumeBefore" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RestaurationTous" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RestaurationDataBase" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RestaurationChaines" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RestaurationUrl" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RestaurationUserConfig" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AudioOn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AudioVolume" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RSSSound" serializeAs="String">
        <value>chimes.wav</value>
      </setting>
      <setting name="MessagesSound" serializeAs="String">
        <value>notify.wav</value>
      </setting>
      <setting name="ReminderSound" serializeAs="String">
        <value>tada.wav</value>
      </setting>
      <setting name="RSSVolume" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="MessagesVolume" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ReminderVolume" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="CurrentVersion" serializeAs="String">
        <value/>
      </setting>
      <setting name="firstDIRChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="firstURLChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserMail" serializeAs="String">
        <value/>
      </setting>
      <setting name="RestaurationLogos" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AutoRestartManualUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Systray" serializeAs="String">
        <value>False</value>
      </setting>
    </ZGuideTV.My.MySettings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
